.graph {
    width: 320px;

    .graph__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .week {
        color: pink;
    }
    
    .month {
        color: skyblue;
    }
}

.text-pointer {
    cursor: pointer;
}

.colored {
    color: #ffdeeb;
}