.calendar {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.month {
    text-align: center;
}

.calendar .days {
    border-bottom: 1px solid #696969;
    padding-bottom: 10px;
}

.calendar ul {
    padding: 0;
}

.calendar .days li {
    color: #696969;
}

.calendar li {
    display: inline-block;
    width: 78px;
    text-align: center;
    font-weight: bold;
}
